<label>Server Name:</label>
<!-- <input type="text" 
       class="form-control" 
       (input)="onUpdateServerName($event)">  -->
<input type="text" 
       class="form-control"
       [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<button class='btn btn-primary' [disabled]="!addNewServer" 
       (click)="onCreateNewServer()">Add Server</button>
<hr>
<p *ngIf="serverCreated else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
       <p> No Server Created....</p>
</ng-template>
<!-- <p innerHTML={{addNewServer}}></p>--string interpolation-->
<!-- <p [innerHTML]="addNewServer"></p> -- property binding  -->

<app-server *ngFor="let server of servers"></app-server>



